/* $Id: ie6-fixes.css 8347 2011-03-02 01:44:22Z sheena $ */


/* Panels */
.panel-display {
  overflow: hidden;
}

/* Sidebar last */
#sidebar-last {
  clear: left;
  float: right;
}

/* Footer */
#footer-wrapper {
  clear: both;
  position: relative;
}

/* Primary menu */
#primary-menu {
  width: 45%;
}

/* Search box */
.search-box {
  position: relative;
  width: 375px;
}


/* Alpha transparency png fix */
/* To use: uncomment & change path to match your Fusion Core location*/
/*
div.pngfix,
#logo img {
  behavior: url(/sites/all/themes/fusion/fusion_core/js/iepngfix.htc);
}
*/