/* $Id: twocol_30_70.css 8347 2011-03-02 01:44:22Z sheena $ */

.twocol-30-70 .panel-panel {
	display: block;
	float: left;
}

.twocol-30-70 .panel-panel.panel-col-first {
	width: 29%;
	margin: 0 1% 0 0;
	padding: 0;
	overflow: hidden;
}

.twocol-30-70 .panel-panel.panel-col-last {
	width: 70%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.page-admin .twocol-30-70 .panel-panel.panel-col-first,
.page-admin .twocol-30-70 .panel-panel.panel-col-last {
	overflow: visible;
}