/* $Id: twocol_70_30.css 8347 2011-03-02 01:44:22Z sheena $ */

.twocol-70-30 .panel-panel {
	display: block;
	float: left;
}

.twocol-70-30 .panel-panel.panel-col-last {
	width: 29%;
	margin: 0 0 0 1%;
	padding: 0;
	overflow: hidden;
}

.twocol-70-30 .panel-panel.panel-col-first {
	width: 70%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.page-admin .twocol-70-30 .panel-panel.panel-col-last,
.page-admin .twocol-70-30 .panel-panel.panel-col-first{
	overflow: visible;
}